<html>
  <head>
    <title>Password Reset Request</title>
  </head>
  <body>
    <div>
      <p>Dear the Venerable {{email}},</p>
      <p>Please follow the link below to reset your password:</p>
      <p>
        <a href='{{url}}'>Reset</a>
      </p>
      <p>Note: for security reasons this link is only valid for one hour.</p>
      <p>If you did not request this email you can safely ignore it.</p>
    </div>
  </body>
</html>